.weather-preview{
  display: flex;
  background-color: #fff;
  width: 100%;
  align-items: center;
  flex-direction: column;
  &-night{
    background-color: #494949;
    color: #fff;
  }
  &-img{
      width: 70px;
      background: #fff;
      border-radius: 50%;
      height: 70px;
      margin-right: 10px;
  }
}